@using Nexin.Models;
@model AnaSayfaSection3Edit

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AnaSayfaSeciton3</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Baslik" class="control-label"></label>
                <input asp-for="Baslik" class="form-control" />
                <span asp-validation-for="Baslik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AltYazi" class="control-label"></label>
                <input asp-for="AltYazi" class="form-control" />
                <span asp-validation-for="AltYazi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Icerik1" class="control-label"></label>
                <input asp-for="Icerik1" class="form-control" />
                <span asp-validation-for="Icerik1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Icerik2" class="control-label"></label>
                <input asp-for="Icerik2" class="form-control" />
                <span asp-validation-for="Icerik2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Icerik3" class="control-label"></label>
                <input asp-for="Icerik3" class="form-control" />
                <span asp-validation-for="Icerik3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Icerik4" class="control-label"></label>
                <input asp-for="Icerik4" class="form-control" />
                <span asp-validation-for="Icerik4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Icerik5" class="control-label"></label>
                <input asp-for="Icerik5" class="form-control" />
                <span asp-validation-for="Icerik5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Icerik6" class="control-label"></label>
                <input asp-for="Icerik6" class="form-control" />
                <span asp-validation-for="Icerik6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResimSol" class="control-label">945*605 Px</label>
                <input asp-for="ResimSol" class="form-control" />
                <span asp-validation-for="ResimSol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResimOynar" class="control-label">245*382</label>
                <input asp-for="ResimOynar" class="form-control" />
                <span asp-validation-for="ResimOynar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
